.section-1,
.section-2,
.article-section {
  width: 100vw;
  height: 100vh;
}

.section-2 {
  margin-bottom: 3rem;
}

.section-1 {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  color: white;
}

.article-section {
  padding-top: 8rem;
  padding-right: 12rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  
  
}.paniers{
  color: black;
}

table{
 
  margin: auto;
  padding: 1vh;
}
tr{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr ;
  column-gap: 5vh;
  padding-bottom: 5vh;
 
}th{
  font-size: 1.5rem;
  display: grid;
   
}.td{
  text-align: center;
  font-size: 1.2rem;  
  border-radius: 2vh;
  
}.img1{
  width: auto;
  height: 10vh;
}.contain-cart{
  
  height: 20vh;
  background-color: gainsboro;
}

.titre{
position: absolute;
 text-align:start;
  color: black;
  font-size: 2.3rem;
  width: 40vh;
  left: 30vh;
  top: 20vh;
}.paiement{
  position: absolute;
  right: 28vh;
  width: 25vh;
  height: 7vh;
  top: 20vh;
  font-size: 1.2rem;
  background-color: yellowgreen;
}.sections{
  position: absolute;
  top: 35vh;
  left: 30vh;
}.pan{
  margin-left: -2vh;
  width: 20vh;
  height: 20vh;

}