/* for Text */
.title-larger {
  font-size: 1.5rem;
}
.title-medium {
  font-size: 1.2rem;
}
.title-smaller {
  font-size: 1.1rem;
}
.title-section {
  position: relative;
}
.title-section::after {
  content: "";
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  background-color: black;
  height: 0.3rem;
  width: 10%;
  border-radius: 2rem;
}
.bolder-text {
  font-weight: bold;
}
.inactive {
  display: none;
}
.centered-text {
  text-align: center;
}
/* for images */
.img-larger {
  width: 30rem;
}
.img-medium {
  width: 7.5rem;
}
.img-smaller {
  width: 07rem;
}
/* For Others */
.outlined {
  position: relative;
}
.outlined::after {
  content: "";
  position: absolute;
  width: 80vw;
  height: 0.15rem;
  background-color: gray;
  opacity: 0.3;
  bottom: -0.1rem;
  left: 0;
}

svg {
  width: 3rem;
  height: 3rem;
  margin-bottom: 1rem;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.cart svg {
  margin-left: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0;
}

.prix {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.ajoutPanier-btn {
  width: 3rem;
  height: 3rem;
  background-color: #80ef40;
  border-radius: 50%;
  position: absolute;
  top: -1.3rem;
  right: -1.3rem;
}
.ajoutPanier-btn a {
  display: block;
}

.ajoutPanier-btn a svg {
  width: 1rem;
  /* height: 0.5rem; */
}
