.presentstion-aside {
  background-color: #181f24;
  height: 100vh;
  padding-top: 45%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.presentation-content {
  background-image: linear-gradient(
      to bottom left,
      #0a0a0a,
      rgba(0, 0, 0, 0.308)
    ),
    url("../../imgS/furniture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8rem;
  padding-left: 2rem;
}

.cards {
  width: 100%;
  height: 50vh;
  padding: 2rem;
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: repeat(4, 12rem);
  align-content: space-around;
  justify-content: space-around;
}

.card-ctn {
  height: 14rem;
  padding-top: 1rem;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 0.2rem 0.4rem rgba(230, 228, 228, 0.904);
}
.last {
  width: 100vw;
  height: 50vh;
}
.last-produit {
  width: 100%;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.last-produit-ctn {
  width: 32vw;
  height: 15rem;
  background-color: white;
  text-align: center;
}

.last-produit-ctn img {
  margin-top: 0.5rem;
  width: 11vw;
  height: 11rem;
}

.details {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin-top: 0.7rem;
  background-color: #f9f9f9;
}

.boutique {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, auto));
  justify-content: space-around;
  gap: 2rem;
}

.categories {
  padding-top: 9rem;
  padding-left: 2.3rem;
}

.categories h1 {
  padding-left: 8rem;
}

.categories-link {
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7vw, auto));
  justify-content: space-around;
}

.categories-link li {
  background-color: #293a4c;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.8rem;
}

.categories-link li a {
  display: block;
}

.proprites {
  color: #294161da;
  background-color: #f9f9f9;
  height: 3rem;
}

.aside-article {
  /* background-color: wheat; */
  text-align: center;
  padding-top: 1rem;
}

.aside-article p {
  margin-bottom: 1rem;
}
.ctn-article {
  position: relative;
  padding-top: 1rem;
  /* background-color: turquoise; */
  text-align: center;
  box-shadow: 0 0.2rem 0.4rem 0.3rem rgba(230, 228, 228, 0.904);
}
.aside-article-ctn div {
  margin-bottom: 1rem;
}
