.presentstion-aside {
  background-color: #181f24;
  height: 100vh;
}

.presentation-content {
  background-image: linear-gradient(
      to bottom left,
      #0a0a0a,
      rgba(0, 0, 0, 0.472)
    ),
    url("../../imgS/furniture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
