.presentstion-aside {
  background-color: #181f24;
  height: 100vh;
  padding-top: 90%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.presentation-content {
  background-image: linear-gradient(
      to bottom left,
      #0a0a0a,
      rgba(0, 0, 0, 0.308)
    ),
    url("../../imgS/furniture.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8rem;
  padding-left: 2rem;
}
