* {
  margin: 0;
}

/* img {
  width: 80vh;
  height: auto;
} */

.logo img {
  width: 6rem;
  height: 4rem;
}

.logo {
  /* text-align: center; */
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 5.5rem;
}

.last-title {
  font-size: 3rem;
  margin-left: 1rem;
}

.categories h1 {
  font-size: 3rem;
  color: #294161da;
  font-style: normal;
}

h2,
h3,
h5 {
  padding: 1vh;
  color: white;

  font-size: 1.3rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boutique img {
  width: 20vw;
  height: 14rem;
}
